.Wrapper {}

#svg {
  height: 51px;
  width: 98px;
  height: auto;
  text-align: center;
  vertical-align: middle;
  fill: #fff;
}




.inner {
  position: relative;
  width: 1700px;
  margin: 0 auto;
}

.Header {
  position: relative;
  width: 100%;
  z-index: 9999;
  background: #26211b;
  color: #fff;
  border-bottom: 1px solid #3c3229;
  ;
}

.Header .inner {
  display: flex;
  line-height: 90px;
  justify-content: space-between;

}

/* .Header .inner>* {
  flex: 1;
} */

.Header h1 {
  display: inline-block;
}

.Header h1 img {
  height: 50px;
  width: auto;
}

.Gnb {
  margin: 0 auto;
}

.Gnb>ul {
  display: flex;
  gap: 40px;

}

.Gnb>ul>li {
  position: relative;
}

.Gnb>ul>li::after {
  content: "";
  position: absolute;
  bottom: 15px;
  left: 0;
  display: block;
  height: 3px;
  width: auto;
  background: #9a8d81;
  transition: 0.5s;
}



.Gnb>ul>li:hover::after {
  width: 100%;
  transition: 0.5s;
}






.Header .top_service {
  display: flex;
  gap: 40px;
  margin: 0 0 0 40px;
}

.Header .top_service .project li {
  display: inline-block;
  font-weight: 300;
  font-size: 15px;
}

.Header .top_service .project li~li::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 10px;
  background: var(--gc);
  margin: 0 10px;
}

.Header .top_service strong {
  cursor: pointer;
}



.Header .top_service .lang {
  position: relative;
  float: left;
  margin: 0 20px 0 0;
}

.Header .top_service .lang .arrow {
  font-size: 7px;
  vertical-align: 0.3em;
}

.Header .top_service .lang.on .arrow {
  transform: rotate(180deg);
}

.Header .top_service .lang .lang_box {
  display: none;
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  line-height: 1.45;
  border: 2px solid var(--mc);
  background: var(--lc);
  padding: 20px 35px;
}

.Header .top_service .lang.on .lang_box {
  display: block;
}

/* .Header .top_service .top_search {
  position: relative;
} */

.Header .top_search .search_box {
  display: none;
  position: absolute;
  top: 80px;
  right: -65px;
  line-height: 1;
  border: 1px solid var(--gc);
  background: var(--lc);
  padding: 30px 50px;
  width: 100vw;
  background: #444;
  text-align: center;
}

.Header .top_search.on .search_box {
  display: block;
}

.Header .top_search .search_box input[type="text"] {
  font-size: 20px;
  width: 450px;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--dc);
}

.Header .top_search .search_box button {
  background: transparent;
  border: none;
  outline: none;
  font-size: 30px;
}

.Header .top_search .search_box::before {
  content: "";
  position: absolute;
  top: -10px;
  right: 60px;
  width: 20px;
  height: 20px;
  background: var(--lc);
  border-left: 1px solid var(--gc);
  border-top: 1px solid var(--gc);
  transform: rotate(45deg);
}











/* .............메인  */




.mainvisual {
  background: #26211b;
}

.mainvisual .container {
  width: 1700px;
  margin: 0 auto;
  position: relative;
}

.mainvisual .box {
  position: absolute;
  top: 100px;
  right: 0;
  width: 550px;
  height: 550px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  background: #fff;
  padding: 100px 80px;
}

.mainvisual .box .tit {
  font-size: 15px;
  margin: 0 0 20px 0;
}

.mainvisual .box p {
  font-size: 41px;
  font-weight: 300;
  min-height: 120px;
  text-align: left;
  line-height: 1.45;
  word-break: keep-all;
  margin: 0 0 70px 0;
}

.mainvisual .box a {
  font-size: 16px;
  padding: 15px 40px;
  border: 2px solid #9a8d81;
}

.mainvisual .box a:hover {
  background: #9a8d81;
  color: #fff;
}

.mainvisual .num {
  font-size: 40px;
  font-weight: 500;
  color: var(--mc)
}

.mainvisual .num span {
  font-size: 20px;
  font-weight: 300;
  color: var(--dc)
}

.mainvisual .arrows i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: #fff;
  padding: 20px 30px;
  background: rgba(0, 0, 0, 0.2);
}

.mainvisual .arrows i:first-child {
  margin: 0 0 0 -850px;
}

.mainvisual .arrows i:last-child {
  margin: 0 0 0 850px;
}

.mainvisual .dots {
  text-align: center;
  font-size: 0;
  height: 30px;
}

.mainvisual .dots>li {
  display: inline-block;
  width: 4px;
  height: 10px;
  background: var(--gc);
  margin: 10px;
  vertical-align: middle;
  transition: 0.5s;
}

.mainvisual .dots>li.on {
  height: 30px;
  background: var(--mc);
}

.mainvisual .box .content {
  margin: 0 0 40px 0;
}

.mainvisual .mainvisual_slide figure {
  width: 1700px;
  height: 750px;
  filter: grayscale(1) brightness(1.5);
}

.mainvisual .mainvisual_slide figure.on {
  width: 1700px;
  filter: grayscale(0) brightness(1);
  transition: 0.5s;
}

/* ........................................카테고리 */

.Category {
  background: #26211b;
  color: #fff;
  padding: 100px;
}

.Category .cali {
  display: block;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 4px;
  margin: 0 0 30px 0;
}

.Category h2 {
  font-size: 19px;
  font-weight: 500;
  margin: 0 0 30px 0;
}


.Category .feature {
  display: flex;
  gap: 40px;
}

.Category .feature figure {
  flex: 1;
}

.Category figure img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}



.Category strong {
  display: block;
  margin: 0 0 15px 0;
  font-size: 25px;
  font-weight: 500;
}

.Category strong::after {
  content: "";
  display: block;
  width: 300px;
  height: 1px;
  background: #706356;
  margin: 20px 0;
}

.Category figure .font {
  padding: 30px 0;
}



.Category figure .title {
  font-size: 16px;
  word-break: keep-all;
  line-height: 1.45;
}



.Category .box {
  position: relative;
}

.Category .gogo {
  position: absolute;
  bottom: -60px;
  left: 50%;
  transform: translateX(-50%);
  padding: 25px 40px;
  background: #f5f4ee;
  width: 300px;
}

.Category .go_feat {
  color: #9a8d81;
  display: block;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 4px;
  margin: 0 0 15px 0;
}

.Category .go_down {
  color: #242424;
  font-size: 17px;
  font-weight: 500;
}










/* .......................tab */

.Tab {
  /* position: relative; */
  width: 100%;
  overflow: hidden;
  background: #26211b;
  padding: 100px 0;
}

.Tab .cali {
  display: block;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 4px;
  margin: 0 0 30px 0;
  color: #f5f4ee;
}

.Tab h2 {
  text-align: center;
  font-size: 27px;
  font-weight: 500;
  margin: 0 0 30px 0;
  color: #f5f4ee;
}


/* 
.Tab .img_move {
  position: absolute;
  top: -12%;
  left: 0;

} */

.Tab .back {
  height: auto;
  display: block;
  width: 100vw;
  overflow: hidden;
}



.Tab .mark_point {
  position: relative;
}

.Tab .mark_point li {
  position: absolute;
  width: 18px;
  height: 18px;
  /* transform: translate(-11px, -11px); */
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}

.Tab .mark_point li::after {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  border: 2px solid #fff;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  animation: pulse 2s infinite 0.5s;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

.Tab .mark_point .img01_point {
  top: 390px;
  left: 340px;
}

.Tab .mark_point .img02_point {
  top: 400px;
  left: 500px;
}

.Tab .mark_point .img03_point {
  top: 500px;
  left: 660px;
}

.Tab .mark_point .img04_point {
  top: 300px;
  left: 720px;
}

.Tab .mark_point .img05_point {
  top: 430px;
  left: 880px;
}


.Tab .mark_point .img06_point {
  top: 600px;
  right: 250px;
}

.tab_card li {
  display: flex;
  width: 350px;
  background: #fff;
}

.card_left {
  padding: 20px;
  background: #fff;
  height: auto;
  width: 130px;
  object-fit: contain;
}

.card_right {
  padding: 20px;
}

.card_right .cal {
  display: block;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 4px;
  margin: 0 0 30px 0;
}

.Tab .inner {
  position: relative;
}

.tab_card {
  position: absolute;
  top: 0;
  left: 0;
}

.tab_card .card01 {
  position: absolute;
  top: 430px;
  left: 350px;
  opacity: 0;
}


.tab_card .card01 {
  position: absolute;
  top: 430px;
  left: 350px;
  opacity: 0;
}

.Tab .img01_point:hover~.tab_card .card01 {
  opacity: 1;
}



/* .Tab .tag_info .tag_card {
  position: absolute;
  display: flex;
  opacity: 0;
  background: #fff;
  gap: 30px;
  padding: 20px;
  border-radius: 20px;
  z-index: 3;
  transition: all 0.2s;
}

.Tab .tag_card .text_box {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 15px 0;
}

.Tab .tag_card .title {
  font-weight: 500;
  color: #000;
}

.Tab .tag_card .sub {
  font-weight: 400;
}

.Tab .tag_card .desc {
  color: #777;
  font-size: var(--font_size_small03);
}

.Tab .tag_card .price {
  margin: auto 0 5px 0;
  font-size: var(--font_size_large01);
  font-weight: 700;
  color: var(--point_color01);
}

.Tab .tag_card::after {
  display: block;
  content: "";
  position: absolute;
  border-top: 30px solid #fff;
  border-left: 25px solid transparent;
  border-right: 6px solid transparent;
}

.Tab .img01_point:hover~.tag_info .card01 {
  opacity: 1;
}

.Tab .img02:hover .tag_info .card02 {
  opacity: 1;
}

.Tab .img03:hover .tag_info .card03 {
  opacity: 1;
}

.Tab .img04:hover~.tag_info .card04 {
  opacity: 1;
}

.Tab .img05:hover~.tag_info .card05 {
  opacity: 1;
}

.Tab .img06:hover~.tag_info .card06 {
  opacity: 1;
}

.Tab .tag_info .card01::after {
  top: 112px;
  left: -25px;
  transform: rotate(73deg);
}

.Tab .tag_info .card02::after {
  top: 166px;
  left: 258px;
  transform: rotate(347deg);
}

.Tab .tag_info .card03::after {
  top: 166px;
  left: 86px;
  transform: rotate(347deg);
}

.Tab .tag_info .card04::after {
  top: 100px;
  left: 264px;
  transform: rotate(285deg);
}

.Tab .tag_info .card05::after {
  top: -20px;
  left: 264px;
  transform: rotate(210deg);
}

.Tab .tag_info .card06::after {
  top: 158px;
  left: 249px;
  transform: rotate(28deg);
}


.Tab .tag_info .tag_card.card01 {
  top: 245px;
  left: 1164px;
}

.Tab .tag_info .tag_card.card02 {
  top: 337px;
  left: 400px;
}

.Tab .tag_info .tag_card.card03 {
  top: 600px;
  left: 997px;
}

.Tab .tag_info .tag_card.card04 {
  top: 156px;
  left: 597px;
}

.Tab .tag_info .tag_card.card05 {
  top: 300px;
  left: 1447px;
}

.Tab .tag_info .tag_card.card06 {
  top: 250px;
  left: 37px;
} */


/* -----------------구독을 하시겠읍 > */

.Subscribe {
  width: 100%;
  background: #26211b;
  padding: 0 0 100px 0;
}

.Subscribe .sub_back {
  position: relative;
  height: 650px;
  display: block;
  width: 100vw;
  overflow: hidden;
}

.Subscribe .ipb {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #f5f4ee;
  ;
  z-index: 999;
  padding: 50px 0;
  height: 300px;
  width: 900px;
}


/* ----------------------푸터 */
.Footer {
  padding: 30px;
  background: #373028;
}

.Footer .inner {
  display: flex;
  justify-content: space-between;
  text-align: center;
  height: 40px;
}


#icon-h {
  display: inline-block;
  fill: #f5f4ee;
  height: 40px;
  width: 40px;
  margin: 0 10px 0 0;
}

.since {
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 4px;
  margin: 0 0 30px 0;
  line-height: 1.4;
  color: #f5f4ee;
}

.Footer .f_right i {
  display: inline-block;
  font-size: 21px;
  margin: 0 10px 0 0;
  color: #f5f4ee;
  vertical-align: middle;
  line-height: 40px;
}

.Footer .copyright {
  display: inline-block;
  font-size: 12px;
  color: #f5f4ee;
  margin: 0 0 0 15px;
  line-height: 40px;
  vertical-align: middle;
}






/* ....잠주 */
.fakeTabs .container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 1700px;
  height: 300px;
  background: #f1f1f1;
  margin: 100px auto 0;
  word-break: break-all;
  border: 1px solid rgba(0, 0, 0, 0.274);
}

.fakeTabs .bloc-tabs {
  display: flex;
}

.fakeTabs .tabs {

  padding: 15px;
  text-align: center;
  width: 50%;
  background: rgba(128, 128, 128, 0.075);
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
}

.fakeTabs .tabs:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.fakeTabs .active-tabs {
  background: white;
  border-bottom: 1px solid transparent;
}

.fakeTabs .active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background: rgb(88, 147, 241);
}


.fakeTabs button {
  border: none;

}

.fakeTabs .content-tabs {
  flex-grow: 1;
}

.fakeTabs .content {
  background: white;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}

.fakeTabs .content h2 {
  padding: 0px 0 5px 0px;
}

.fakeTabs .content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}

.fakeTabs .content p {
  width: 100%;
  height: 100%;
}

.fakeTabs .active-content {
  display: block;
}